        <br>
        <br>
        <h1>Travel Together Better.</h1>
        <p class="lead">Plan a trip with people you know or browse and join others.</p>
        <div class="lead col-md-4 col-md-offset-2">
          <br>
          <br>

          <form role="form">
            <div class= "form-group">
              <label for="tripName">Name Your Trip.</label>
                 <input type="text" class="form-control" id="tripName" placeholder="Enter Trip Name">
               </div>
              <button type="submit" class="btn btn-success">Start</button>
            <br>
          </form>
        </div>
        <center>
        <div class="video col-md-6">

        </div>
      </center>