body {
  padding-top: 50px;
  text-align: center;
}

.video{
    width:300px;
    height:217px;
    padding-top:7px;
    background-image: image-url("videoframe_v3.png");
    background-repeat:no-repeat;
  }